.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.project_Row {
}

.project_Card {
    background-color: #303540 !important;
}

.project_Field1 {
    float: left;
    font-size: 25px;
    color: #303540;
}

.project_Field {
    font-style: italic;
    color: white;
    font-size: 25px;
    text-wrap: normal;
    flex-wrap: wrap;
}

.project_Value {
    float: left;
    font-size: 25px;
    color: khaki;

}

.project_location {
    float: left;
    font-size: 22px;
    color: khaki;
    font-style: italic;

}

.project_Link {
    font-style: italic;
    font-size: 22px;
    color: khaki;
    float: left;
    /*display: block;*/
}

.project_Skills {
    font-style: italic;
    font-size: 21px;
    color: khaki;
    float: left;
}

.project_skill_Image {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}


.responsibilites {
    font-style: italic;
    font-size: 23px;
    color: khaki;
    float: left;
}

.unorder_Square {
    list-style: square;
}

.unorder_Disc {
    list-style: disc;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

a {
    text-decoration: none;
}

.ContactDetailsLink {
    color: darkkhaki;
}

.ActiveLink {
    color: yellow;
}

.inActiveLink {
    color: steelblue;
}

.navbar1 {
    margin-bottom: 20px;
    border-style: solid;
    border-width: thick;
    border-color: #223646;
    border-radius: 10px;
    background-color: #121920;
    padding-left: 20px;
    padding-right: 20px;
}

/*const sStyle = {fontSize: '30px',backgroundColor:'#367FC3', borderRadius:'10px',borderColor:'#3f4c6e',  color:'white'};*/
.btnSeeAll {
    background-color: #367FC3;
    border-style: solid;
    border-width: thick;
    border-color: #3f4c6e;
    border-radius: 10px;
    font-size: 30px;
    color: white;
}

.anim {
    animation: 3s ease 0s infinite normal none running shake;
}

@keyframes oopacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#pie-container1, #pie-container2, #pie-container3 {
    display: inline-block;
}

/*#pie-container1 {*/
/*    animation: oopacity 19s 4;*/
/*}*/

#pie-container2 {
    animation: oopacity 15s 6;
}

#pie-container3 {
    animation: oopacity 12s 8;
}

div.scroll {
    margin: 4px;
    padding: 4px;
    width: 300px;
    overflow: auto;
    white-space: nowrap;
}

.my_scroll {
    width: 70em;
    overflow-x: auto;
    white-space: nowrap;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


#audiocontrol {
    visibility: hidden;
    height: 3px;
}


